body{
    color: #FC4308;
}

.header__bg{
    background-color: #164607;
}

.navbar .collapse.navbar-collapse{
    flex-grow: inherit;
}

.navbar a{
    color: #FC4308;
}

.navbar .collapse li a{
    color: #FC4308;
}

/* Fijarse lo de que se cambie a negro en la grabacion */
.nav-link:focus, .nav-link:hover{
    color: #FC4308;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.header__content{
    height: calc(100vh - 56px);
}

.header__img{
    width: 220px;
}

@media (min-width: 576px) {
    .header__img{
        width: auto;
        height: auto;
        object-fit: cover;
    }
}

.galeria{
    background-color: black;
    padding: 40px 0;
}

@media(min-width: 1024px){
    .galeria{
        padding: 80px 120px;
    }
}